<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form action="/user/login" method="POST">
        <label>Enter your email:</label>
        <input type="email" name="email" required>
        <label>Enter your password:</label>
        <input typep="password" name="password" required>
        <button type="submit">SignUp</button>
    </form>
</body>
</html>